<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Post" type="ua.social.network.dto.PostDto"/>
        <typeAlias alias="Community" type="ua.social.network.dto.CommunityDto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/post-mapper.xml"/>
        <mapper resource="mapper/community-mapper.xml"/>
    </mappers>

</configuration>