<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.social.network.query.UserMapper">

    <sql id="coreUserAttributes">
      users.id AS id,
      users.name AS name,
      users.last_visit as lastVisit
    </sql>

    <select id="getSingle" resultMap="UserRM">
        SELECT
        <include refid="coreUserAttributes"/>,
        f.id AS friendId,
        f.name AS friendName
        FROM users
        LEFT JOIN user_friends ON users.id = user_friends.user_id
        LEFT JOIN users f ON f.id = user_friends.friend_id
        <where>
            users.id = #{id}
        </where>
    </select>

    <select id="getList" resultMap="UserRM">
        SELECT
        <include refid="coreUserAttributes"/>
        FROM users
        <if test="user_id != null">
            LEFT JOIN user_friends friends ON users.id = friends.friend_id
            <where>
                friends.user_id = #{user_id}
            </where>
        </if>
    </select>

    <resultMap id="UserRM" type="User">
        <id column="id"/>
        <result property="name" column="name"/>
        <result property="lastVisit" column="lastVisit"/>
        <collection property="friends" ofType="User">
            <id column="friendId"/>
            <result column="friendName" property="name"/>
        </collection>
    </resultMap>
</mapper>