<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.social.network.query.PostMapper">

    <sql id="coreAttributes">
      post.id AS id,
      post.text AS text
    </sql>

    <select id="getSingle" resultMap="PostRM">
        SELECT
        <include refid="coreAttributes"/>
        FROM post
        <where>
            post.id = #{id}
        </where>
    </select>

    <select id="getList" resultMap="PostRM">
        SELECT
        <include refid="coreAttributes"/>
        FROM post
        <if test="userId != null">
            LEFT JOIN post_user_assoc ON post_user_assoc.post_id = post.id
        </if>
        <if test="communityId != null">
            LEFT JOIN post_community_assoc ON post_community_assoc.post_id = post.id
        </if>
        <where>
            <if test="userId != null">
                post_user_assoc.user_id = #{userId}
            </if>
            <if test="communityId != null">
                post_community_assoc.community_id = #{communityId}
            </if>
        </where>
    </select>

    <resultMap id="PostRM" type="Post">
        <id column="id" property="id"/>
        <result property="text" column="text"/>
    </resultMap>
</mapper>