<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.social.network.query.PostMapper">

    <sql id="coreAttributes">
      post.id AS id,
      post.text AS text
    </sql>

    <select id="getSingle" resultMap="PostRM">
        SELECT
        <include refid="coreAttributes"/>
        FROM post
        <where>
            post.id = #{id}
        </where>
    </select>

    <select id="getList" resultMap="PostRM">
        SELECT
        <include refid="coreAttributes"/>,
        user_wall.id AS userWallId
        LEFT JOIN user_wall ON user_wall.id = post.user_wall_id
        FROM post
        <where>
            userWallId = #{userWallId}
        </where>
    </select>

    <resultMap id="PostRM" type="Post">
        <id column="id"/>
        <result property="text" column="text"/>
    </resultMap>
</mapper>