<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.social.network.query.PostMapper">

    <sql id="corePostAttributes">
      posts.id AS id,
      posts.created AS created,
      posts.text AS text,
      sender.id AS senderId,
      sender.name AS senderName
    </sql>

    <select id="getSingle" resultMap="PostRM">
        SELECT
        <include refid="corePostAttributes"/>
        FROM posts
        INNER JOIN users sender ON sender.id = posts.from_id
        <where>
            posts.id = #{id}
        </where>
    </select>

    <select id="getList" resultMap="PostRM">
        SELECT
        <include refid="corePostAttributes"/>
        FROM posts
        INNER JOIN users receiver ON receiver.id = posts.to_id
        INNER JOIN users sender ON sender.id = posts.from_id
        <where>
            <if test="user_id != null">
                receiver.id = #{user_id}
            </if>
            <if test="user_id == null and user_name != null">
                receiver.email = #{user_name}
            </if>
        </where>
    </select>

    <resultMap id="PostRM" type="Post">
        <id column="id"/>
        <result property="createDate" column="created"/>
        <result property="text" column="text"/>
        <result property="sender.id" column="senderId"/>
        <result property="sender.name" column="senderName"/>
    </resultMap>
</mapper>